{% extends 'base.html' %}

{% block navmenus %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'CarShare:index' %}">Главная<span class="active sr-only">(current)</span></a></li>
        <li><a href="{% url 'CarShare:trips' %}">Найти поездку</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">Информация<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">О сервисе</a></li>
                <li><a href="#">Удобство</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Стать водителем</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container"><div class="row"><div class="col-xs-12 cols-md-12">
        <h3>Ищите лучшие поездки <span class="label label-success">CarShare</span></h3>
    </div></div></div>
{% endblock %}