{% extends 'base.html' %}

{% block navmenus %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'CarShare:index' %}">Главная<span class="active sr-only">(current)</span></a></li>
        <li><a href="{% url 'CarShare:trips' %}">Найти поездку</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container"><div class="row"><div class="col-xs-12 cols-md-12">
        <h3>Ищите лучшие поездки <span class="label label-success">CarShare</span></h3>
    </div></div></div>
{% endblock %}