{% extends 'base.html' %}
{% block navmenus %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'CarShare:index' %}">Главная</a></li>
        <li><a href="{% url 'CarShare:trips' %}">Найти поездку<span class="active sr-only">(current)</span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'CarShare:add' %}">Добавить поездку</a></li>
      </ul>
{% endblock %}

{% block content %}
{% if not travellings %}
    <div class="alert alert-warning" role="alert">Пока нет никаких данных.
        <a href="{% url 'CarShare:add' %}">Добавить</a>?</div>
    <p></p>
{% else %}
    <hr>
    <table class="table table-striped">
        <tr>
            <th>Откуда</th>
            <th>Куда</th>
            <th>Дата отъезда:</th>
            <th>Дата прибытия:</th>
            <th></th>
        </tr>
    {% for travel in travellings %}
        <tr>
            <th>{{ travel.city_from }} </th>
            <th>{{ travel.city_to }} </th>
            <th>{{ travel.start_time }} </th>
            <th>{{ travel.end_time }} </th>
            <th><a href="{% url 'CarShare:to_book' travel.id %}">Поехали!</a></th>
        </tr>
    {% endfor %}
{% endif %}


</table>
{% endblock %}