{% extends 'base.html' %}
{% block navmenus %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'CarShare:index' %}">Главная</a></li>
        <li><a href="{% url 'CarShare:trips' %}">Найти поездку<span class="active sr-only">(current)</span></a></li>
    </ul>
{% endblock %}

{% block content %}
<table class="table table-striped">
    <tr>
        <th>Откуда</th>
        <th>Куда</th>
        <th>Дата отъезда:</th>
        <th>Дата прибытия:</th>
    </tr>
{#<#list words as word>#}
{#    <tr>#}
{#        <td>${word.spelling}</td>#}
{#        <td>${word.valueInLanguage}</td>#}
{#        <td>${word.trainingTimes}</td>#}
{#        <td>${word.positiveAnswers}</td>#}
{#    </tr>#}
{#</#list>#}

</table>
{% endblock %}